<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Let's go.</title>
  <! -- 스타일 -->
  <style>
         body {
         color:blue;
         font-size: 30px;
         font-family: 돋움;
      }
   </style>
</head>
<body>
<h3>Nothing is over!</h3>
<p>You just don't turn it off.</p>
<audio autoplay controls>
    <source src={{ url_for('static', filename="1.wav" )}} type="audio/wav">
</audio>
<p>TWO</p>
<br>
<audio autoplay controls>
    <source src={{ url_for('static', filename="2.wav" )}} type="audio/wav">
</audio>
<p>SEVEN</p>
<br>
<audio autoplay controls>
    <source src={{ url_for('static', filename="3.wav" )}} type="audio/wav">
</audio>
<p>A</p>
<br>
<audio autoplay controls>
    <source src={{ url_for('static', filename="4.wav" )}} type="audio/wav">
</audio>
<p>SEVEN</p>
<br>
<audio autoplay controls>
    <source src={{ url_for('static', filename="5.wav" )}} type="audio/wav">
</audio>
<p>TWO</p>
<br>
<audio autoplay controls>
    <source src={{ url_for('static', filename="6.wav" )}} type="audio/wav">
</audio>
<p>A</p>
<br>
<audio autoplay controls>
    <source src={{ url_for('static', filename="7.wav" )}} type="audio/wav">
</audio>
<p>TWO</p>
<br>
<audio autoplay controls>
    <source src={{ url_for('static', filename="8.wav" )}} type="audio/wav">
</audio>
<p>SEVEN</p>
<br>
<audio autoplay controls>
    <source src={{ url_for('static', filename="9.wav" )}} type="audio/wav">
</audio>
<p>A</p>
<br>
<audio autoplay controls>
    <source src={{ url_for('static', filename="10.wav" )}} type="audio/wav">
</audio>
<p>SEVEN</p>
<h3>Unless, it's one of your movies.</h3>
<h3>In which case, I'd just turn it off!!!!!!!!!</h3>
</body>
</html>
